.App {
  text-align: center;
  overflow-x: hidden;
}

.header{
  background-color: aqua;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cart{
  display: block;
  float: right;
}
h5{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

 .dashboard{
   margin-left: auto;
   margin-right: auto;
   display: flexbox;
 }
td{
  padding: 10px;
  text-align: center;
}
Button{
  margin: 5px;
}
.items{
display: inline-block;
  width: 90%;
  
}
.table{
  margin-left: auto;
  margin-right: auto;
}
td{
width: auto;
align-items: center;
}
@media(min-width:700px)
{
  .dashboard{
    width: 700px;
  }
}