.main{
    width: 50%;
    background-color: black;
    color: white;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;

}
.bot-description{
    align-items: flex-start;
    width: 400px;
    padding: 10px;
}
.index{
    margin: 10px;
    width: 100px;
}
.agcr{
    margin: 10px;
    width: 100px;
}
.btn{
    width: 50%; 
}
button{
    float: left;
    margin: 10px;
    background-color: darkcyan;
    padding: 5px;
    border-radius: 25px;
}
@media(max-width:700px){
    .main{
        display: flex;
        width: 310px;
        flex-shrink: initial;
    }
    .btn{
        float: left;
        margin: 10px;
    }
}